# dotenv
.env

# Local appsettings with secrets (Cloudinary keys, DB passwords)
# appsettings.Development.json
secrets.json

# User Secrets folder (optional, depending on setup)
%APPDATA%\Microsoft\UserSecrets/
~/.microsoft/usersecrets/

## Sertificates
*.pfx
https/